<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>参数配置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../static/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style>
  
	*{
		user-select: none;
	}
	
    body{
		/*padding:20px;*/
	}


	.layui-form-selectup dl {
		bottom: auto;
	}

	  
   .tab_but{
        width:80px;
        height:30px;
        border: 1px solid #c9c9c9;
        border-radius:5px;
        display:inline-block;
        line-height: 30px;
		margin: 7px;
    }

    .tab_but_div{
        width:60px;
        display:inline-block;
    }

    .tab_but_a{
        margin-left:4px;
    }
	
	.ul_head{
	    width:935px;
		line-height:25px;
		margin:0px;
		height:35px;
	}
	
	.ul_head > li{
        float: left;
		height:35px;
		padding:0px 5px 0px 5px;
	}
	
	.Judgment_Pool{
		width:895px;
		min-height:100px;
		border:1px solid #e6e6e6;
		padding: 20px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	
	.Judgment_from{
		width:895px;
		padding: 20px;
		border:1px solid #e6e6e6;
		margin-top: 20px;
	}
	
	
	.layui-form-label {
		float: left;
		display: block;
		padding: 9px 15px 9px 15px;
		width: 55px;
		font-weight: 400;
		line-height: 20px;
		text-align: right;
	}
	
	.layui-input-block {
		margin-left: 85px;
		min-height: 36px;
		width:759px;
	}
	
	.from-overflow{
		overflow-y:auto;
		overflow-x:hidden;
		height: 280px;
		width: 910px;
	}
	
	.if_edit{
		width:938px;
		background-color:#ffffff;
		padding:20px;
		height:680px;
	}
	
	
	/* 设置滚动条的样式 */
	::-webkit-scrollbar {
		width:10px;
	}
	/* 滚动槽 */
	::-webkit-scrollbar-track {
		-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
		border-radius:8px;
	}
	/* 滚动条滑块 */
	::-webkit-scrollbar-thumb {
		border-radius:8px;
		background:rgba(0,0,0,0.1);
		-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background:rgba(255,0,0,0.4);
	}
	
	.Workflow_name_input{
		outline: none;
	}

	
  </style>
</head>
<body>

<div class="if_edit"> 

	<ul class="ul_head">

	   <li>
			<font>是否开启</font>
			<input type="checkbox" name="switch_status" lay-skin="switch" lay-text="ON|OFF">
			<i id="dxqm" class="layui-icon layui-icon-help" style="font-size: 17px; color: #0a6ae6e3;"></i>
	   
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="Save_node" class="layui-icon layui-icon-ok" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	   <li style="float: right;cursor:pointer;">
			<i id="shut_down" class="layui-icon layui-icon-close" style="font-size: 26px; color: #0a6ae6e3;"></i>  
	   </li>
	</ul>


	<div class="Judgment_Pool">
		<!-- 这里是放判断的容器 -->
	</div>



	<div class="Judgment_from">

		<ul class="ul_head" style="width:896px">
		   <li>
				<button id="site_add" type="button" class="layui-btn layui-btn-primary layui-btn-sm"><i class="layui-icon"></i></button>
			</li>
	<!-- 	   <li>
				<div style="float: left;" id="myP" class="Workflow_name_input" contenteditable="false" >
					这里是api名称
				</div>
		   
		   </li> -->
		   <li style="float: right;cursor:pointer;">
				<button id="from_Reset" type="button" class="layui-btn layui-btn-primary layui-btn-sm">
					<font>重置</font>
				</button>
		   </li>
		   <li style="float: right;cursor:pointer;">
				<button id="save" type="button" class="layui-btn layui-btn-primary layui-btn-sm">
					<font>保存</font>
				</button>
			</li>
		</ul>

		<hr>


		<form class="layui-form" action="" id="from_pd">
		

			<div class="layui-form-item">
				<label class="layui-form-label">名称</label>
				<div class="layui-input-block">
				   <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
				</div>
			</div>


			<div class="from-overflow">
				<!-- 出参 -->
				  
				 
			  </div>
		  
		  
<!-- 			<div class="layui-form-item" style="width:846px;">
				<div>
					<button id="add_pd" type="button" class="layui-btn layui-btn-primary layui-btn-fluid">添加参数</button>
				</div>
			</div> -->
		  
		</form>
	</div>
</div>


</body>

<script src="../static/ace-builds-master/ace-builds-master/src/ace.js" charset="utf-8"></script>
<script src="../static/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
<!-- <script src="../static/layui-v2.6.8/layui-v2.6.8/layui/layui.js" charset="utf-8"></script> -->
<script src="../static/layui-v2.6.8/layui-v2.6.8/layui/layui.js" charset="utf-8"></script>

<script src="../static/url_js/url_000.js" charset="utf-8"></script>
<script src="../static/workflow_js/Ginseng.js" charset="utf-8"></script>
<script>


var W_parameter = localStorage.getItem("Workflow_parameter")
if(W_parameter == 'None'){
	var Workflow_parameter = {}
	var parameter_dict={}
}else{
	var Workflow_parameter = JSON.parse(W_parameter)
	var parameter_dict=Workflow_parameter['Workflow_parameter']
	console.log(parameter_dict,'parameter_dictparameter_dictparameter_dict')
}





$("#shut_down").click(function(){
	//关闭判断节点
	$(".popping-box-wrap", parent.document).hide(500);
});

    

var  tip_index;
$("#dxqm").hover(function(){
	tips_index = layer.tips("开启后执行工作流会使用data里的数据",this,{time:0});
},function(){
    layer.close(tips_index);
});
	


layui.use(['form', 'layedit', 'laydate','dropdown'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,layedit = layui.layedit
    ,laydate = layui.laydate
	,dropdown = layui.dropdown
    //日期
    laydate.render({
      elem: '#date'
    });
    laydate.render({
      elem: '#date1'
    });
  
	
	var parameter = localStorage.getItem('list_data');
	if (parameter!="None"){
		parameter=JSON.parse(parameter)
		console.log(parameter,'parameterparameterparameterparameterparameter')
		var str_html=""
		for (var keys in parameter){
			//遍历所有的变量生成表单
			str_html+='  <div class="layui-form-item">'
			str_html+='	<label class="layui-form-label">'+keys+'</label>'
			str_html+='	<div class="layui-input-block">'
			str_html+='	  <input type="text" name="val" value="'+parameter[keys]+'" lay-verify="title" autocomplete="off" placeholder="请输入value" class="layui-input">'
			str_html+='	</div>'
			str_html+='  </div>'
		}
	}

	$('.from-overflow').append(str_html)
	form.render()	
	
	
  
    $('#site_add').click(function(){
		//重置表单
        $('#from_pd')[0].reset()
	})
  
  
    $('#from_Reset').click(function(){
		//重置表单
        $('#from_pd')[0].reset()
	})




	var W_parameter = localStorage.getItem("Workflow_parameter")
	if(W_parameter == 'None'){
		var Workflow_parameter={}
	}else{
		var Workflow_parameter=JSON.parse(W_parameter)
		console.log(Workflow_parameter,'激烈的讨论');

		if (Workflow_parameter['data_status']){//true的时候开启按钮
			$('input[name="switch_status"]').attr("checked",true)
		}

		for (var title in Workflow_parameter['tab_status']) {
			console.log(title,'老蔡');
			
			html_str=''
			html_str+='    <div  class="tab_but">'
			if (Workflow_parameter['tab_status'][title]){
				html_str+='   		<input style="margin-left:4px;font-size: 3px;" type="checkbox" name="sex" value="'+title+'" title="'+title+'" checked="" >'
			}else{
				html_str+='   		<input style="margin-left:4px;font-size: 3px;" type="checkbox" name="sex" value="'+title+'" title="'+title+'" >'
			}

			html_str+='        <div class="tab_but_div" style="width:40px;">'
			
			
			//html_str+='            <font class="tab_but_a">'+ title +'</font>'
			
			if (title.length>4){
				//html_str+='			<font id='+l_key+' style="line-height: 0px;margin-left:17px;">'+ l_key.slice(0, 4)+'...' +'</font>'
				html_str+='            <font id='+title+' class="tab_but_a">'+ title.slice(0, 4)+'...' +'</font>'

			}else{
				html_str+='            <font id='+title+' class="tab_but_a">'+ title +'</font>'
			}
			
			
			
			html_str+='        </div>'
			

			html_str+='        <i id="tab_del" class="layui-icon layui-icon-close" style="font-size: 3px; color: #1E9FFF;cursor:pointer;"></i>'
			html_str+='    </div>'
			$(".Judgment_Pool").append(html_str);
		}

		form.render()
	}



    $('#save').click(function(){
		//获取表单中参数内容写入缓存
        var title = $('input[name="title"]').val()//参数组名称

        var val_condition=$('div[class="from-overflow"]').children('div')
		console.log('逻辑貌似不一样-------------',val_condition)

		var judgment_list=[]
		
		console.log(val_condition.length,'val_condition.length')

        for(var i=0;i<val_condition.length;i++){
		
			var judgment_dict={}
			judgment_dict['data_name'] = title
			judgment_dict['key'] = val_condition.eq(i).find('label[class="layui-form-label"]').text()
			judgment_dict['value'] = val_condition.eq(i).find('input[name="val"]').val()
			judgment_list.push(judgment_dict)
		}
		
		console.log('调试啊调试-------------',judgment_list)
        parameter_dict[title]=judgment_list
		Workflow_parameter['Workflow_parameter']=parameter_dict
		//.find('select[class=""]')
		console.log(parameter_dict,'xxxxxxxxxxxxxxccccccccccccccccc');
		
		
		console.log($('.tab_but_a').length,'parameter_dict[title].length')

		for (var l=0;l<$('.tab_but_a').length;l++){
			console.log(title,'-----',$('.tab_but_a').eq(l).text());
			if ($('.tab_but_a').eq(l).text()==title){
				console.log(parameter_dict,title,'调试啊调试',judgment_list)
				parameter_dict[title]=judgment_list
				//.find('select[class=""]')
				console.log(parameter_dict,'xxxxxxxxxxxxxxccccccccccccccccc');
			    layer.msg("编辑成功");
				return
			}
		
		}
		

		html_str=''
		html_str+='    <div  class="tab_but">'
		html_str+='   		<input style="margin-left:4px;font-size: 3px;" type="checkbox" name="sex" value="'+title+'" title="'+title+'" checked="" >'

		html_str+='        <div class="tab_but_div" style="width:40px;">'
		//html_str+='            <font class="tab_but_a">'+ title +'</font>'
		
		if (title.length>4){
			//html_str+='			<font id='+l_key+' style="line-height: 0px;margin-left:17px;">'+ l_key.slice(0, 4)+'...' +'</font>'
			html_str+='            <font id='+title+' class="tab_but_a">'+ title.slice(0, 4)+'...' +'</font>'

		}else{
			html_str+='            <font id='+title+' class="tab_but_a">'+ title +'</font>'
		}
		
		html_str+='        </div>'
		

		html_str+='        <i id="tab_del" class="layui-icon layui-icon-close" style="font-size: 3px; color: #1E9FFF;cursor:pointer;"></i>'
		html_str+='    </div>'
		$(".Judgment_Pool").append(html_str);
		
        $('#from_pd')[0].reset()

		form.render()	
	})
	
	

	$(document).on("click",'.tab_but_div',function(e){
        //编辑
		//default_from()//重置
		//var title = $(this).children('font').text()
		var title = $(this).children('font').attr('id')
		console.log(title,'titletitletitletitle',parameter_dict[title],'编辑xxxxx',parameter_dict);
		//console.log(title,'titletitletitletitle','编辑xxxxx',parameter_dict);

        $('.tab_but').css({"border":"1px solid #c9c9c9"});
		$(this).parent('div').css({"border":"1px solid #1E9FFF"});
		$('input[name="title"]').val(title)//参数组名称
		console.log(parameter_dict[title].length,'parameter_dict[title].length')
        for(var i=0;i<parameter_dict[title].length;i++){
			console.log(parameter_dict[title][i]['key'],'天旋地转');
			console.log(parameter_dict[title][i]['value'],'天旋地转');
			
			var val_condition=$('div[class="from-overflow"]').children('div')
			val_condition.eq(i).find('label[class="layui-form-label"]').text(parameter_dict[title][i]['key'])
			val_condition.eq(i).find('input[name="val"]').val(parameter_dict[title][i]['value'])

		}
		form.render()
	})

    
	
	$(document).on("click",'#tab_del',function(){
        //删除一个判断
		var title = $(this).prev().children('font').text()
		delete parameter_dict[title];
        $(this).parent().remove()
		console.log(parameter_dict,'删除后的数据');
		default_from()//重置
        $('#from_pd')[0].reset()
   });



    $('#Save_node').click(function(){
		//保存判断节点所有数据
		var edit_id = localStorage.getItem("edit_id")
		//var data_status = $('input[name="switch_status"]').attr('checked')
		var data_status = $('input[name="switch_status"]').is(':checked')
		var tab_status = {}
		
		var tab_list = $('div[class="tab_but"]>input')
		console.log(tab_list,'正确的',tab_list.length)

		for (var t_len=0;t_len<tab_list.length;t_len++){
			tab_status[tab_list.eq(t_len).val()]=tab_list.eq(t_len).is(':checked')
		}
		
		
		Workflow_parameter["Workflow_parameter"]=parameter_dict
		Workflow_parameter['data_status']=data_status
		Workflow_parameter['tab_status']=tab_status

		console.log(Workflow_parameter,'Workflow_parameterWorkflow_parameterWorkflow_parameterWorkflow_parameterWorkflow_parameter')

	   	localStorage.setItem('Workflow_parameter',JSON.stringify(Workflow_parameter));
	   	//localStorage.setItem('Workflow_parameter',Workflow_parameter);

		
		$(".popping-box-wrap", parent.document).hide(500);
	})



  
});
</script>
</body>
</html>


